## Build
build/
DerivedData/
*.xcuserstate

## Xcode user data
xcuserdata/
*.xcuserdatad/
*.xcworkspace/xcuserdata/
ColimaSwift.xcodeproj/xcuserdata/
ColimaSwift.xcodeproj/project.xcworkspace/xcuserdata/

## Misc
.DS_Store
.claude
.build